.pageFooter {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navbox-footer-right {
    list-style: none;
    display: flex;
    gap: 0.75rem;
    padding-right: 0.5rem;
}

.pageFooter .navbarItemFooter {
    letter-spacing: normal;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    color: rgb(213, 228, 217);
    text-decoration: none;
    margin: 0;
}

.pageFooter nav a:hover {
    transition: 0.5s;
    transform: scale(1.05);
    color: darkgray;
}

.pageFooter .active {
    text-decoration: none;
    font-weight: bolder;
}