html, body {
  height: 100%;
  margin: 0;
}

.main-content {
  flex: 1;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.color-green-header {
  background-color: #387b5b;
}

.color-green-background {
  background-color:#386652
}

.color-green-footer {
  background-color: #2b4d3e;
}

.color-gray-background {
  background-color: #d5e4d9;
}

.color-blue-background {
  background-color: #1b4557;
}

.text-white-heading {
  color: rgb(213, 228, 217)
}

/*Default*/
.page-content {
  margin-left: 25%;
  margin-right: 25%;
}
/*Mobiles*/
@media screen and (max-width: 540px) {
  .page-content {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
/*Tablets*/
@media screen and (max-width: 540px) {
  .page-content {
    margin-left: 5%;
    margin-right: 5%;
  }
}


header {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 1;
  padding-bottom: 0.25rem;
}

article {
  padding: 0.75rem;
  padding-left: 0em;
  text-align: left;
  font-weight: 1;
  font-size: 1.5rem;
}

.indent-left {
  margin-left: 1.5rem;
}

span {
  font-size: 1.5rem;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.5rem
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 2.125rem;
}

h5 {
  font-size: 2.0rem;
}

.text-side-by-side {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.text-top-and-bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;  
}

@media(width > 640px) {
  .content-side-by-side-dynamic {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }
}

/*@media(width <= 640px) {
  .content-side-by-side-dynamic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }
}*/

.fifty-percent-width {
  width: 50%;
}

footer {  
  text-align: left;
  font-weight: 1;
  font-size: 1.0rem;
}

.text-color-black {
  color: black;
}

.text-color-blue {
  color: #1b4557;
}

.text-color-green {
  color: rgb(56,123,91);
}

.green-bar-background {
  background-color: #387b5b;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
}

.bold-text {
  font-weight: bold;
}

.underline-text {
  text-decoration: underline;
}

ol.lower-alpha-list {
  list-style-type: lower-alpha; 
}

ol.roman-list {
  list-style-type: upper-roman;
}

ol.numeric-list {
  list-style-type: decimal;
}
